:root {
    --color-primario: #F8EDED;
    --color-sec: #FF8225;
    --color-ter: #B43F3F;
    --color-cuarto: #173B45;
    --color-quinto: #5f2121;
    --color-sexto: #cdccb4;
    --color-sept: #15b64d;
    --color-octa: #000000;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    height: 100%;
}

body {
    background: var(--color-primario);
    box-sizing: border-box;
    font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    line-height: 1;
}

label {
    color: var(--color-primario);
    display: block;
    margin-bottom: 6px;
}

.ml-auto {
    margin-left: auto;
}

.container {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1024px;
}

.group {
    overflow: hidden;
    text-align: center;
}

.group-category {
    margin-bottom: 5rem;
    margin-top: 90px;
}

.group-title {
    color: var(--color-ter);
    margin: 1.5rem 2.2rem;
    font-size: 50px;
    text-align: left;
    border-bottom: 2px solid var(--color-sept);
    width: max-content;
    font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-weight: bold;
}

.group-item {
    width: 250px;
    min-height: 280px;
    margin: 5px;
    display: inline-block;
    border-radius: 4px;
    background: var(--color-sec);
    overflow: hidden;
}

.group-item-img {
    width: 80%;
    border-radius: px;
    display: block;
    margin: 0.4rem auto;
}

.group-item-name {
    margin: 0.5rem;
    text-align: center;
    color: var(--color-cuarto);
}

.group-item-desc {
    color: var(--color-octa);
    text-align: justify;
    width: 90%;
    margin: 0 auto;
    max-height: 100px;
    height: 50px;
    overflow-y: scroll;
    overflow: hidden;

}

.group-item-desc::-webkit-scrollbar {
    display: none;
}

.group-item-price {
    background: var(--color-ter);
    margin: 0.6rem 0;
    border-radius: 0 10px 10px 0;
    padding: 0.5rem;
    color: var(--color-sexto);
    width: max-content;
    font-weight: bold;
}

.group-item-total {
    text-align: center;
    color: var(--color-octa);
    font-style: italic;
}

.ctrl-item-total {
    width: max-content;
    margin: 0.5rem auto;
    border: 1px solid var(--color-octa);
    border-radius: 8px;
    padding: 0 0rem;
    color: var(--color-octa);
    overflow: hidden;
    height: max-content;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ctrl-item-total button,
.ctrl-item-total div {
    float: left;
    background: none;
    border: none;
    padding: 0.6rem 1rem;
    height: 100%;
    outline: none;
    color: var(--color-octa);
    display: block;
    transition: 0.4s;
    height: 100%;
    border-radius: 4px;
}

.ctrl-item-total button:hover,
.ctrl-item-total div:hover {
    background: var(--color-primario);
}

#list {
    width: 300px;
    height: max-content;
    border-radius: 8px;
    box-shadow: 0 0 1px var(--color-cuarto);
    background: var(--color-cuarto);
    padding: 1rem;
    display: none;
    margin-top: 1rem;
    margin-right: 1rem;
}

.list-container {
    margin-top: 65px;
    position: fixed;
    right: 0;
    left: 0;
    height: min-content;
}

.list-title {
    color: var(--color-sexto);
    text-align: center;
    font-size: 30px;
}

.list-subtitle {
    color: var(--color-sexto);
    margin-top: 1rem;
    margin-bottom: 4px;
}

#list-items {
    color: var(--color-sexto);
    list-style: none;
    padding: 1rem;
}

#list-total {
    color: var(--color-sexto);
    padding: 0.3rem 0.6rem;
    border: 1px solid var(--color-sexto);
    width: max-content;
    font-size: 18px;
    border-radius: 30px;
}

#list-btn {
    all: unset;
    background: var(--color-ter);
    border-radius: 30px;
    padding: 0.4rem 2rem;
    color: var(--color-sexto);
    font-weight: bold;
    display: block;
    margin: 0.5rem auto;
    transition: 0.7s;
}

#list-btn:hover {
    background: var(--color-sept);
    color: var(--color-sexto);
}

#address-group {
    margin: 0 auto;
    width: max-content;
}

#address {
    all: unset;
    border: 1px solid var(--color-sexto);
    border-radius: 8px;
    padding: 0.2rem;
    color: var(--color-sexto);
}

#btn-finish {
    all: unset;
    padding: 0.5rem 0;
    min-width: 120px;
    background: var(--color-sept);
    color: var(--color-primario);
    font-style: Raleway, italic;
    font-weight: bold;
    border-radius: 0 0 0 10px;
    transition: 0.7s;
    text-align: center;
    display: block;
    margin-left: auto;
}

#btn-finish:hover {
    background: var(--color-sec);
    color: var(--color-octa);
}

#btn-finish:active {
    background: var(--color-quinto);
}

@media (max-width: 720px) {
    .group-item {
        width: 90%;
        max-width: 330px;
        margin: 8px 0;
    }

    #list {
        position: fixed;
        margin: unset;
        right: unset;
        top: unset;
        bottom: 0;
        width: calc(100% - 2rem);
        border-radius: 10px 10px 0 0;
        margin: 0;
    }

    #btn-finish {
        right: 0;
        position: fixed;
    }
}

@media (min-width: 1025px) {
    #btn-finish {
        border-radius: 0 0 10px 10px;
    }
}