:root {
    --color-primario: #F8EDED;
    --color-sec: #FF8225;
    --color-ter: #B43F3F;
    --color-cuarto: #173B45;
    --color-quinto: #5f2121;
    --color-sexto: #cdccb4;
    --color-sept: #15b64d;
    --color-octa: #000000;
    ;
}

* {
    box-sizing: border-box;
    font-family: "Raleway";
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

h1,
h2,
h3,
h4,
h5,
input,
button,
textarea {
    color: var(--color-quinto);
    border: none;
    outline: none;
}