/*
 html {
     /* me permite deslizar cuando hago clic en los links del menu */
scroll-padding-bottom: unset;
}

:root {
    --color-primario: #F8EDED;
    --color-sec: #FF8225;
    --color-ter: #B43F3F;
    --color-cuarto: #173B45;
    --color-quinto: #5f2121;
    --color-sexto: #cdccb4;
    --color-sept: #15b64d;
    --color-octa: #000000;
}

*/

/* MENU */
.contenedor__header {
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor__header header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--color-ter);
    width: 100%;
    position: fixed;
}

.contenedor__header header .logo img {
    height: 3rem;
}

.contenedor__header header ul {
    display: flex;
    list-style: none;
}

.contenedor__header header nav ul li a {
    font-family: 'Raleway';
    text-align: none;
    color: var(--color-primario);
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor__header header nav ul li a:hover {
    color: var(--color-sept);
}

.nav__responsivo {
    background-color: var(--color-sec);
    color: var(--color-primario);
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    .nav__responsivo {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: var(--color-quinto);
        width: 180px;
        border-radius: 10px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid var(--color-sexto);
        padding: 10px 0;
    }
}