:root {
    --color-primario: #F8EDED;
    --color-sec: #FF8225;
    --color-ter: #B43F3F;
    --color-cuarto: #173B45;
    --color-quinto: #5f2121;
    --color-sexto: #cdccb4;
    --color-sept: #15b64d;
    --color-octa: #000000;
}

.menu__list,
.menu__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.menu__list__item,
.menu__list__item__contato {
    color: var(--color-cuarto);
}

.menu__list__item a {
    font-weight: bold;
}

.menu__list__item:hover,
.menu__list__item__contato:hover {
    color: var(--color-primario);
}

.menu__list__item__contato {
    display: none;
}

@media (max-width: 768px) {
    .menu__list__item {
        display: none;
    }

    .menu__list__item__contato {
        display: block;
        font-weight: bold;
    }
}

@media (max-width: 425px) {
    .menu__list__item__contato {
        font-weight: 500;
        font-size: .6rem;
    }
}